html,
body {
  background-color: #222222;
  color: #f7f7f7;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.App {
  text-align: center;
}

.result-diagram {
  min-height: 400px;
  display: flex;
  border: 1px solid;
  margin: 1rem;
}
.result-diagram .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.result-diagram .graphic {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
}
.result-diagram .colorbar {
  width: 60px;
  background-color: red;
}
.result-diagram .label {
  height: 1.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  animation: loading 0.5s infinite;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  min-width: 400px;
  margin-bottom: 1rem;
}
